{% extends "base.html" %} {% block contenido %}
<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title mb-4">Confirmar Eliminación</h1>
      <p class="card-text">
        ¿Estás seguro de que deseas eliminar el usuario "{{ usuario.username
        }}"?
      </p>
      <form
        method="post"
        action="{% url 'usuarios:borrarusuario' pk=usuario.pk %}"
      >
        {% csrf_token %}
        <input type="hidden" name="_method" value="DELETE" />
        <button type="submit" class="btn btn-danger me-2">Sí, eliminar</button>
        <a
          href="{% url 'usuarios:editaperfil' pk=usuario.pk %}"
          class="btn btn-secondary"
          >Cancelar</a
        >
      </form>
    </div>
  </div>
</div>
{% endblock contenido %}
