{% extends 'base.html' %} {% load static %} {% block contenido %}
<div class="container mt-5">
  <h2 class="mb-4">SOMOS EL GRUPO Nº7</h2>
  <p class="lead">TRABAJO FINAL BLOG DE INTELIGENCIA ARTIFICIAL EN DJANGO</p>
  <p class="font-weight-bold">Integrado por:</p>
  <ul class="list-group mb-4">
    <li class="list-group-item">Cristian Tourn</li>
    <li class="list-group-item">Flor Dusset</li>
    <li class="list-group-item">Luciano Ezequiel Soto Bonja</li>
    <li class="list-group-item">Luis Minicucci</li>
    <li class="list-group-item">Octavio Lugo</li>
    <li class="list-group-item">Sebastian Pereyra</li>
    <li class="list-group-item">Uriel Castillo</li>
    <li class="list-group-item">Samuel Colombo</li>
  </ul>
</div>
{% endblock contenido %}
