{% extends 'base.html' %} {% load static %} {% block titulo %} HOME {% endblock
titulo %} {% block contenido %} {% for noti in object_list %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-5">
      <img
        src="{{ noti.imagen.url }}"
        class="img-fluid rounded-start"
        alt="..."
        width="300"
      />
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <strong class="d-inline-block mb-2 text-primary"
          >{{ noti.categoria_noticia }}</strong
        >
        <h4 class="mb-0">{{ noti.titulo }}</h4>
        <div class="mb-1 text-muted">Fecha de publicacion:{{ noti.creado|date:"d M Y" }}</div>
        <p class="card-text mb-auto">{{ noti.resumen }}</p>
        <a href="{% url 'noticias:detalle' noti.id %}" class="btn btn-primary"
          >Leer más</a
        >
      </div>
    </div>
  </div>
</div>
{% endfor %}
<hr />
<nav aria-label="...">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page=1">&laquo; INICIO</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
        >ANTERIOR</a
      >
    </li>
    {% endif %}
    <span class="page-link">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}"
        >SIGUIENTE</a
      >
    </li>
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"
        >ULTIMO &raquo;</a
      >
    </li>
    {% endif %}
  </ul>
</nav>
<hr />
{% endblock %}
